In [1]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np

In [3]:
# $VEHICLE:SIMRUN;NO;VEHTYPE;PTLINE;PTSTOP;SIMSEC
table_def = {'$VEHICLE:SIMRUN': np.int16, 'NO': np.int64, 'VEHTYPE': np.int16, 'PTLINE': np.int16, 'PTSTOP': np.int16, 'SIMSEC': np.float16}

In [16]:
df = pd.read_table(r'D:\Projects\2016\Python\Run_001.fzp',sep=';',skiprows=16)
df.head()

   $VEHICLE:SIMRUN    NO  VEHTYPE  PTLINE  PTSTOP  SIMSEC
0                1     3     1301      14     NaN  1800.2
1                1     4     1301      15     120  1800.2
2                1  2199     1301      14     NaN  1800.2
3                1  2200     1301      15     NaN  1800.2
4                1  4411     1301      14     NaN  1800.2

In [17]:
df.dtypes

$VEHICLE:SIMRUN      int64
NO                   int64
VEHTYPE              int64
PTLINE               int64
PTSTOP             float64
SIMSEC             float64
dtype: object

In [11]:
# Drop all PTSTOP with NaN
df2 = df.dropna(axis=0)
df2.head()

    $VEHICLE:SIMRUN     NO  VEHTYPE  PTLINE  PTSTOP  SIMSEC
1                 1      4     1301      15     120  1800.2
17                1  15399     1301      15     101  1800.2
19                1  15758     1301      17     116  1800.2
25                1      4     1301      15     120  1801.2
41                1  15399     1301      15     101  1801.2

In [21]:
# Group-by select the min simsec and max simsec
df2_group = df2.groupby(['NO','PTLINE', 'PTSTOP'])

In [22]:
df2_head = df2_group.head(1)

In [23]:
df2_tail = df2_group.tail(1)

In [26]:
# merge using ['NO','PTLINE', 'PTSTOP']
merged = pd.merge(df2_head, df2_tail, left_on = ['NO','PTLINE', 'PTSTOP'], right_on=['NO','PTLINE', 'PTSTOP'], suffixes=['_min','_max'])

In [88]:
merged_sort = merged.sort_values(by=['NO','PTLINE', 'SIMSEC_min'])
merged_sort[merged_sort['NO']==4]

,$VEHICLE:SIMRUN_min,NO,VEHTYPE_min,PTLINE,PTSTOP,SIMSEC_min,$VEHICLE:SIMRUN_max,VEHTYPE_max,SIMSEC_max
0,1,4,1301,15,120,1800.2,1,1301,1811.2
42,1,4,1301,15,126,2265.2,1,1301,2393.2
89,1,4,1301,15,122,2684.2,1,1301,2697.2

In [89]:
merged_sort.head(50)

,$VEHICLE:SIMRUN_min,NO,VEHTYPE_min,PTLINE,PTSTOP,SIMSEC_min,$VEHICLE:SIMRUN_max,VEHTYPE_max,SIMSEC_max
40,1,3,1301,14,102,2235.2,1,1301,2243.2
0,1,4,1301,15,120,1800.2,1,1301,1811.2
42,1,4,1301,15,126,2265.2,1,1301,2393.2
89,1,4,1301,15,122,2684.2,1,1301,2697.2
9,1,2199,1301,14,109,1904.2,1,1301,1909.2
17,1,2199,1301,14,108,1992.2,1,1301,1997.2
22,1,2199,1301,14,106,2054.2,1,1301,2058.2
55,1,2199,1301,14,102,2385.2,1,1301,2391.2
5,1,2200,1301,15,116,1853.2,1,1301,1876.2
12,1,2200,1301,15,118,1933.2,1,1301,1936.2
24,1,2200,1301,15,120,2057.2,1,1301,2092.2
59,1,2200,1301,15,126,2421.2,1,1301,2519.2
94,1,2200,1301,15,122,2715.2,1,1301,2718.2
19,1,4411,1301,14,109,2018.2,1,1301,2023.2
31,1,4411,1301,14,108,2107.2,1,1301,2112.2
35,1,4411,1301,14,106,2196.2,1,1301,2200.2
69,1,4411,1301,14,102,2545.2,1,1301,2551.2
29,1,4412,1301,15,114,2103.2,1,1301,2114.2
37,1,4412,1301,15,116,2202.2,1,1301,2229.2
47,1,4412,1301,15,118,2285.2,1,1301,2288.2
52,1,4412,1301,15,120,2356.2,1,1301,2389.2
108,1,4412,1301,15,126,2885.2,1,1301,2997.2
143,1,4412,1301,15,122,3218.2,1,1301,3223.2
11,1,6635,1301,14,112,1921.2,1,1301,1941.2
34,1,6635,1301,14,109,2184.2,1,1301,2190.2
44,1,6635,1301,14,108,2279.2,1,1301,2286.2
51,1,6635,1301,14,106,2347.2,1,1301,2353.2
87,1,6635,1301,14,102,2676.2,1,1301,2682.2
30,1,6636,1301,15,114,2105.2,1,1301,2109.2
53,1,6636,1301,15,120,2357.2,1,1301,2372.2
109,1,6636,1301,15,126,2889.2,1,1301,2922.2
18,1,8832,1301,14,113,1993.2,1,1301,2002.2
38,1,8832,1301,14,112,2220.2,1,1301,2239.2
80,1,8832,1301,14,109,2609.2,1,1301,2615.2
92,1,8832,1301,14,108,2699.2,1,1301,2701.2
101,1,8832,1301,14,106,2778.2,1,1301,2782.2
134,1,8832,1301,14,102,3147.2,1,1301,3153.2
16,1,8833,1301,15,124,1988.2,1,1301,1991.2
25,1,8833,1301,15,111,2071.2,1,1301,2106.2
50,1,8833,1301,15,114,2333.2,1,1301,2345.2
62,1,8833,1301,15,116,2468.2,1,1301,2488.2
71,1,8833,1301,15,118,2549.2,1,1301,2553.2
83,1,8833,1301,15,120,2653.2,1,1301,2662.2
122,1,8833,1301,15,126,3015.2,1,1301,3114.2
162,1,8833,1301,15,122,3388.2,1,1301,3391.2
14,1,11036,1301,14,119,1951.2,1,1301,1975.2
23,1,11036,1301,14,117,2056.2,1,1301,2059.2
33,1,11036,1301,14,115,2126.2,1,1301,2139.2
45,1,11036,1301,14,113,2280.2,1,1301,2294.2
66,1,11036,1301,14,112,2522.2,1,1301,2550.2

In [92]:
# compute the travel time = Next Arrival Time - Prev. Departure Time
depart = (merged_sort['SIMSEC_max'][0:len(merged_sort)-1]).values
arrival = (merged_sort['SIMSEC_min'][1:]).values

In [93]:
depart

array([ 2243.2,  1811.2,  2393.2,  2697.2,  1909.2,  1997.2,  2058.2,
        2391.2,  1876.2,  1936.2,  2092.2,  2519.2,  2718.2,  2023.2,
        2112.2,  2200.2,  2551.2,  2114.2,  2229.2,  2288.2,  2389.2,
        2997.2,  3223.2,  1941.2,  2190.2,  2286.2,  2353.2,  2682.2,
        2109.2,  2372.2,  2922.2,  2002.2,  2239.2,  2615.2,  2701.2,
        2782.2,  3153.2,  1991.2,  2106.2,  2345.2,  2488.2,  2553.2,
        2662.2,  3114.2,  3391.2,  1975.2,  2059.2,  2139.2,  2294.2,
        2550.2,  2926.2,  3019.2,  3104.2,  3443.2,  1860.2,  2096.2,
        2414.2,  2510.2,  2573.2,  2674.2,  3099.2,  3394.2,  2110.2,
        2300.2,  2459.2,  2684.2,  2925.2,  3019.2,  3104.2,  3440.2,
        1851.2,  2074.2,  2409.2,  2617.2,  2796.2,  2860.2,  2989.2,
        3589.2,  3952.2,  1865.2,  2571.2,  2653.2,  2723.2,  2881.2,
        3146.2,  3535.2,  3625.2,  3709.2,  3975.2,  1838.2,  1972.2,
        2225.2,  2299.2,  2526.2,  2739.2,  2850.2,  3236.2,  3374.2,
        3436.2,  3563.2,  4033.2,  4301.2,  1882.2,  2565.2,  2728.2,
        1809.2,  1872.2,  1949.2,  2448.2,  2691.2,  2042.2,  2913.2,
        3128.2,  3703.2,  4029.2,  1932.2,  2860.2,  3230.2,  3377.2,
        3456.2,  3616.2,  4046.2,  4302.2,  2114.2,  2246.2,  2643.2,
        2916.2,  3176.2,  3556.2,  3647.2,  3730.2,  4077.2,  4194.2,
        2131.2,  2272.2,  2544.2,  2622.2,  2800.2,  3017.2,  3265.2,
        3400.2,  3643.2,  4150.2,  4479.2,  2296.2,  2446.2,  2862.2,
        3012.2,  3184.2,  3439.2,  3807.2,  3897.2,  4002.2,  4338.2,
        2280.2,  2426.2,  2682.2,  2751.2,  2956.2,  3182.2,  3306.2,
        3490.2,  3684.2,  3752.2,  3871.2,  4348.2,  4658.2,  2473.2,
        2613.2,  3164.2,  3311.2,  2550.2,  2611.2,  2726.2,  3164.2,
        3413.2,  2620.2,  3177.2,  3312.2,  3542.2,  3743.2,  3836.2,
        4125.2,  4217.2,  4302.2,  4653.2,  2582.2,  2719.2,  2963.2,
        3041.2,  3253.2,  3609.2,  4074.2,  4193.2,  4261.2,  4340.2,
        4936.2,  5201.2,  2833.2,  2968.2,  3292.2,  3399.2,  3471.2,
        3620.2,  3891.2,  4153.2,  4242.2,  4305.2,  4654.2,  2689.2,
        3576.2,  4059.2,  4349.2,  4853.2,  3014.2,  3176.2,  3567.2,
        3708.2,  3855.2,  3960.2,  4189.2,  4453.2,  4543.2,  4608.2,
        4912.2,  3020.2,  3295.2,  3377.2,  3704.2,  4079.2,  4265.2,
        4424.2,  4490.2,  4632.2,  5205.2,  5389.2,  3281.2,  3756.2,
        3954.2,  4176.2,  4605.2,  4909.2,  3166.2,  3231.2,  3430.2,
        3497.2,  4028.2,  4256.2,  4418.2,  4508.2,  4662.2,  5165.2,
        3099.2,  3294.2,  3760.2,  3892.2,  3155.2,  3219.2,  3292.2,
        3802.2,  3378.2,  3498.2,  4074.2,  4267.2,  4528.2,  4796.2,
        5181.2,  5277.2,  5358.2,  3360.2,  3474.2,  3718.2,  3811.2,
        4003.2,  4235.2,  4361.2,  4579.2,  4747.2,  4812.2,  4921.2,
        5385.2,  3848.2,  4355.2,  4497.2,  4678.2,  4938.2,  5197.2,
        5281.2,  5353.2,  3622.2,  3691.2,  4024.2,  4088.2,  4283.2,
        4520.2,  4863.2,  5048.2,  5117.2,  5257.2,  3836.2,  4677.2,
        4931.2,  5379.2,  3757.2,  3821.2,  4493.2,  4861.2,  5245.2,
        3913.2,  4043.2,  4377.2,  4537.2,  3782.2,  3914.2,  4402.2,
        4094.2,  4256.2,  4668.2,  4823.2,  4990.2,  5248.2,  3951.2,
        4072.2,  4325.2,  4403.2,  4591.2,  4807.2,  5038.2,  5189.2,
        5385.2,  4280.2,  4449.2,  4817.2,  4905.2,  4968.2,  5129.2,
        5386.2,  4245.2,  4379.2,  4625.2,  4702.2,  4890.2,  5270.2,
        4566.2,  4956.2,  5122.2,  5264.2,  4402.2,  4516.2,  4750.2,
        4813.2,  4916.2,  5229.2,  4628.2,  4758.2,  5264.2,  4584.2,
        4774.2,  5303.2,  4629.2,  4766.2,  5281.2,  5376.2,  4678.2,
        4826.2,  5100.2,  5269.2,  4816.2,  4945.2,  5299.2,  4942.2,
        5008.2,  5226.2,  5294.2,  5174.2,  5316.2,  5132.2,  5274.2,
        5356.2,  5269.2])

In [94]:
arrival

array([ 1800.2,  2265.2,  2684.2,  1904.2,  1992.2,  2054.2,  2385.2,
        1853.2,  1933.2,  2057.2,  2421.2,  2715.2,  2018.2,  2107.2,
        2196.2,  2545.2,  2103.2,  2202.2,  2285.2,  2356.2,  2885.2,
        3218.2,  1921.2,  2184.2,  2279.2,  2347.2,  2676.2,  2105.2,
        2357.2,  2889.2,  1993.2,  2220.2,  2609.2,  2699.2,  2778.2,
        3147.2,  1988.2,  2071.2,  2333.2,  2468.2,  2549.2,  2653.2,
        3015.2,  3388.2,  1951.2,  2056.2,  2126.2,  2280.2,  2522.2,
        2918.2,  3015.2,  3098.2,  3435.2,  1844.2,  2072.2,  2408.2,
        2500.2,  2570.2,  2656.2,  3033.2,  3391.2,  2100.2,  2295.2,
        2457.2,  2670.2,  2922.2,  3017.2,  3100.2,  3436.2,  1837.2,
        2031.2,  2371.2,  2605.2,  2772.2,  2857.2,  2958.2,  3482.2,
        3942.2,  1854.2,  2551.2,  2649.2,  2718.2,  2875.2,  3121.2,
        3518.2,  3620.2,  3698.2,  3965.2,  1800.2,  1969.2,  2200.2,
        2283.2,  2468.2,  2736.2,  2822.2,  3222.2,  3356.2,  3431.2,
        3554.2,  3913.2,  4297.2,  1857.2,  2553.2,  2721.2,  1800.2,
        1869.2,  1933.2,  2418.2,  2685.2,  2036.2,  2910.2,  3123.2,
        3700.2,  4026.2,  1919.2,  2823.2,  3225.2,  3358.2,  3449.2,
        3557.2,  3962.2,  4299.2,  2111.2,  2231.2,  2639.2,  2913.2,
        3164.2,  3553.2,  3645.2,  3727.2,  4072.2,  4188.2,  2097.2,
        2269.2,  2525.2,  2602.2,  2768.2,  2995.2,  3254.2,  3393.2,
        3632.2,  4071.2,  4477.2,  2291.2,  2425.2,  2855.2,  3000.2,
        3175.2,  3422.2,  3803.2,  3893.2,  3996.2,  4332.2,  2259.2,
        2419.2,  2672.2,  2740.2,  2939.2,  3176.2,  3272.2,  3482.2,
        3661.2,  3742.2,  3849.2,  4256.2,  4651.2,  2471.2,  2595.2,
        3159.2,  3307.2,  2532.2,  2608.2,  2690.2,  3133.2,  3410.2,
        2598.2,  3161.2,  3310.2,  3534.2,  3721.2,  3833.2,  4119.2,
        4212.2,  4298.2,  4647.2,  2546.2,  2709.2,  2956.2,  3022.2,
        3218.2,  3572.2,  4056.2,  4168.2,  4254.2,  4322.2,  4811.2,
        5193.2,  2828.2,  2949.2,  3280.2,  3396.2,  3464.2,  3613.2,
        3871.2,  4146.2,  4238.2,  4301.2,  4648.2,  2676.2,  3572.2,
        4057.2,  4324.2,  4815.2,  3011.2,  3157.2,  3555.2,  3705.2,
        3846.2,  3949.2,  4172.2,  4449.2,  4541.2,  4601.2,  4905.2,
        2995.2,  3276.2,  3354.2,  3665.2,  4022.2,  4251.2,  4405.2,
        4485.2,  4623.2,  5102.2,  5387.2,  3277.2,  3753.2,  3952.2,
        4172.2,  4603.2,  4906.2,  3148.2,  3228.2,  3418.2,  3488.2,
        4022.2,  4252.2,  4408.2,  4502.2,  4626.2,  5105.2,  3095.2,
        3280.2,  3756.2,  3890.2,  3143.2,  3216.2,  3279.2,  3781.2,
        3371.2,  3490.2,  4054.2,  4260.2,  4515.2,  4770.2,  5162.2,
        5266.2,  5348.2,  3332.2,  3469.2,  3697.2,  3775.2,  3967.2,
        4232.2,  4321.2,  4566.2,  4733.2,  4805.2,  4908.2,  5284.2,
        3829.2,  4343.2,  4494.2,  4671.2,  4924.2,  5194.2,  5279.2,
        5349.2,  3592.2,  3684.2,  4008.2,  4081.2,  4251.2,  4486.2,
        4854.2,  5028.2,  5107.2,  5222.2,  3832.2,  4674.2,  4927.2,
        5377.2,  3744.2,  3818.2,  4489.2,  4857.2,  5224.2,  3910.2,
        4030.2,  4373.2,  4534.2,  3768.2,  3886.2,  4379.2,  4091.2,
        4237.2,  4654.2,  4810.2,  4979.2,  5220.2,  3939.2,  4069.2,
        4297.2,  4383.2,  4565.2,  4775.2,  5029.2,  5180.2,  5372.2,
        4270.2,  4431.2,  4814.2,  4899.2,  4966.2,  5123.2,  5371.2,
        4189.2,  4369.2,  4607.2,  4684.2,  4871.2,  5222.2,  4555.2,
        4946.2,  5119.2,  5259.2,  4386.2,  4511.2,  4747.2,  4809.2,
        4904.2,  5224.2,  4626.2,  4748.2,  5262.2,  4571.2,  4758.2,
        5280.2,  4626.2,  4751.2,  5265.2,  5373.2,  4648.2,  4819.2,
        5077.2,  5233.2,  4811.2,  4928.2,  5297.2,  4905.2,  5002.2,
        5219.2,  5284.2,  5171.2,  5295.2,  5107.2,  5269.2,  5350.2,
        5246.2,  5351.2])

In [95]:
tt = arrival - depart

In [86]:
tt[0]

453.99999999999977

In [96]:
tt2 = np.zeros(len(tt)+1)
tt2[1:] = tt
tt2

array([    0.,  -443.,   454.,   291.,  -793.,    83.,    57.,   327.,
        -538.,    57.,   121.,   329.,   196.,  -700.,    84.,    84.,
         345.,  -448.,    88.,    56.,    68.,   496.,   221., -1302.,
         243.,    89.,    61.,   323.,  -577.,   248.,   517.,  -929.,
         218.,   370.,    84.,    77.,   365., -1165.,    80.,   227.,
         123.,    61.,   100.,   353.,   274., -1440.,    81.,    67.,
         141.,   228.,   368.,    89.,    79.,   331., -1599.,   212.,
         312.,    86.,    60.,    83.,   359.,   292., -1294.,   185.,
         157.,   211.,   238.,    92.,    81.,   332., -1603.,   180.,
         297.,   196.,   155.,    61.,    98.,   493.,   353., -2098.,
         686.,    78.,    65.,   152.,   240.,   372.,    85.,    73.,
         256., -2175.,   131.,   228.,    58.,   169.,   210.,    83.,
         372.,   120.,    57.,   118.,   350.,   264., -2444.,   671.,
         156.,  -928.,    60.,    61.,   469.,   237.,  -655.,   868.,
         210.,   572.,   323., -2110.,   891.,   365.,   128.,    72.,
         101.,   346.,   253., -2191.,   117.,   393.,   270.,   248.,
         377.,    89.,    80.,   342.,   111., -2097.,   138.,   253.,
          58.,   146.,   195.,   237.,   128.,   232.,   428.,   327.,
       -2188.,   129.,   409.,   138.,   163.,   238.,   364.,    86.,
          99.,   330., -2079.,   139.,   246.,    58.,   188.,   220.,
          90.,   176.,   171.,    58.,    97.,   385.,   303., -2187.,
         122.,   546.,   143.,  -779.,    58.,    79.,   407.,   246.,
        -815.,   541.,   133.,   222.,   179.,    90.,   283.,    87.,
          81.,   345., -2107.,   127.,   237.,    59.,   177.,   319.,
         447.,    94.,    61.,    61.,   471.,   257., -2373.,   116.,
         312.,   104.,    65.,   142.,   251.,   255.,    85.,    59.,
         343., -1978.,   883.,   481.,   265.,   466., -1842.,   143.,
         379.,   138.,   138.,    94.,   212.,   260.,    88.,    58.,
         297., -1917.,   256.,    59.,   288.,   318.,   172.,   140.,
          61.,   133.,   470.,   182., -2112.,   472.,   196.,   218.,
         427.,   301., -1761.,    62.,   187.,    58.,   525.,   224.,
         152.,    84.,   118.,   443., -2070.,   181.,   462.,   130.,
        -749.,    61.,    60.,   489.,  -431.,   112.,   556.,   186.,
         248.,   242.,   366.,    85.,    71., -2026.,   109.,   223.,
          57.,   156.,   229.,    86.,   205.,   154.,    58.,    96.,
         363., -1556.,   495.,   139.,   174.,   246.,   256.,    82.,
          68., -1761.,    62.,   317.,    57.,   163.,   203.,   334.,
         165.,    59.,   105., -1425.,   838.,   250.,   446., -1635.,
          61.,   668.,   364.,   363., -1335.,   117.,   330.,   157.,
        -769.,   104.,   465.,  -311.,   143.,   398.,   142.,   156.,
         230., -1309.,   118.,   225.,    58.,   162.,   184.,   222.,
         142.,   183., -1115.,   151.,   365.,    82.,    61.,   155.,
         242., -1197.,   124.,   228.,    59.,   169.,   332.,  -715.,
         380.,   163.,   137.,  -878.,   109.,   231.,    59.,    91.,
         308.,  -603.,   120.,   504.,  -693.,   174.,   506.,  -677.,
         122.,   499.,    92.,  -728.,   141.,   251.,   133.,  -458.,
         112.,   352.,  -394.,    60.,   211.,    58.,  -123.,   121.,
        -209.,   137.,    76.,  -110.,    82.])

In [97]:
merged_sort.drop('tt',axis=1, inplace=True)

ValueError: labels ['tt'] not contained in axis

In [101]:
merged_sort['tt'] = tt2

In [102]:
merged_sort[merged_sort['NO']==4]

,$VEHICLE:SIMRUN_min,NO,VEHTYPE_min,PTLINE,PTSTOP,SIMSEC_min,$VEHICLE:SIMRUN_max,VEHTYPE_max,SIMSEC_max,tt
0,1,4,1301,15,120,1800.2,1,1301,1811.2,-443
42,1,4,1301,15,126,2265.2,1,1301,2393.2,454
89,1,4,1301,15,122,2684.2,1,1301,2697.2,291

In [103]:
tt_out = merged_sort[merged_sort['tt']>0]
tt_out['tt'].describe()

count    322.000000
mean     217.322981
std      154.673029
min       56.000000
25%       91.250000
50%      174.000000
75%      306.750000
max      891.000000
Name: tt, dtype: float64