In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    'key1': ['a','a','b','b','a'],
    'key2': ['one', 'two','one','two','one'],
    'data1': np.random.randn(5),
    'data2': np.random.randn(5)
})
df

      data1     data2 key1 key2
0  0.229541 -1.113839    a  one
1  1.169968 -0.722521    a  two
2 -0.467902 -0.006755    b  one
3 -0.234160  1.160064    b  two
4 -0.260923 -1.156778    a  one

In [4]:
# iterating over groups
for name, group in df.groupby('key1'):
    print name
    print type(group)

a
<class 'pandas.core.frame.DataFrame'>
b
<class 'pandas.core.frame.DataFrame'>

In [8]:
dict(list(df.groupby('key1')))

{'a':       data1     data2 key1 key2
 0  0.229541 -1.113839    a  one
 1  1.169968 -0.722521    a  two
 4 -0.260923 -1.156778    a  one, 'b':       data1     data2 key1 key2
 2 -0.467902 -0.006755    b  one
 3 -0.234160  1.160064    b  two}

In [9]:
fare = pd.read_csv("I:\NVTA\Inputs\Transit_Fare.txt", sep='\t', skiprows=1)
fare.head(10)

  FROM_ZONE TO_ZONE FROM_MODE  TO_MODE       PERIOD CLASS  FARE NOTES
0         1       1   EXPRESS  EXPRESS  0:00..24:00  CASH   400   NaN
1         1       2   EXPRESS  EXPRESS  0:00..24:00  CASH   488   NaN
2         1       3   EXPRESS  EXPRESS  0:00..24:00  CASH   800   NaN
3         1       4   EXPRESS  EXPRESS  0:00..24:00  CASH   400   NaN
4         1       5   EXPRESS  EXPRESS  0:00..24:00  CASH   400   NaN
5         1       6   EXPRESS  EXPRESS  0:00..24:00  CASH   400   NaN
6         1       7   EXPRESS  EXPRESS  0:00..24:00  CASH   414   NaN
7         1       8   EXPRESS  EXPRESS  0:00..24:00  CASH   400   NaN
8         1       9   EXPRESS  EXPRESS  0:00..24:00  CASH   427   NaN
9         1      10   EXPRESS  EXPRESS  0:00..24:00  CASH   400   NaN

In [16]:
fare_metrorail = fare[(fare['FROM_MODE'] == 'RAPIDRAIL') & (fare['TO_MODE'] == 'RAPIDRAIL') & (fare['CLASS'] == 'CASH') & (fare['PERIOD'] == '6:00..9:00, 15:00..19:00')]
fare_metro = fare_metrorail[['FROM_ZONE','TO_ZONE','FARE']]
fare_metro.head()

     FROM_ZONE TO_ZONE  FARE
1323       101     101     0
1324       101     102   225
1325       101     103   280
1326       101     104   310
1327       101     105   350

In [17]:
fare_metro = fare_metro.set_index(['FROM_ZONE', 'TO_ZONE'])

In [19]:
fare_metro_matrix = fare_metro.unstack(level=1)
fare_metro_matrix.head(10)

          FARE                                              ...             \
TO_ZONE    101  102  103  104  105  106  107  108  109  110 ...   189  190
FROM_ZONE                                                   ...
101          0  225  280  310  350  410  440  485  510  535 ...   589  589
102        225    0  225  230  275  340  365  415  440  465 ...   589  589
103        280  225    0  225  225  275  305  355  380  405 ...   589  589
104        310  230  225    0  225  240  275  325  350  375 ...   589  589
105        350  275  225  225    0  225  230  285  315  340 ...   589  589
106        410  340  275  240  225    0  225  225  245  270 ...   589  589
107        440  365  305  275  230  225    0  225  225  240 ...   575  570
108        485  415  355  325  285  225  225    0  225  225 ...   550  545
109        510  440  380  350  315  245  225  225    0  225 ...   540  530
110        535  465  405  375  340  270  240  225  225    0 ...   535  530


TO_ZONE    191  192  193  194  195  196  197  198
FROM_ZONE
101        589  589  589  589  589  589  589  589
102        589  589  589  589  589  589  589  589
103        589  589  589  589  589  589  589  540
104        589  589  589  589  589  589  589  510
105        589  589  589  589  589  589  589  470
106        589  589  589  589  589  589  589  415
107        589  589  589  589  589  589  589  385
108        589  589  589  589  589  589  589  345
109        589  589  589  589  589  589  589  320
110        589  589  589  589  589  589  589  290

[10 rows x 98 columns]

In [26]:
fare_metro_matrix.to_csv(r"D:\Projects\2016\NVTA\Working\Metro_Fare.csv", sep=',',header=True,index=True,index_label=False)

In [27]:
fare_metro_matrix.reset_index().head(10)

        FROM_ZONE FARE                                         ...             \
TO_ZONE            101  102  103  104  105  106  107  108  109 ...   189  190
0             101    0  225  280  310  350  410  440  485  510 ...   589  589
1             102  225    0  225  230  275  340  365  415  440 ...   589  589
2             103  280  225    0  225  225  275  305  355  380 ...   589  589
3             104  310  230  225    0  225  240  275  325  350 ...   589  589
4             105  350  275  225  225    0  225  230  285  315 ...   589  589
5             106  410  340  275  240  225    0  225  225  245 ...   589  589
6             107  440  365  305  275  230  225    0  225  225 ...   575  570
7             108  485  415  355  325  285  225  225    0  225 ...   550  545
8             109  510  440  380  350  315  245  225  225    0 ...   540  530
9             110  535  465  405  375  340  270  240  225  225 ...   535  530


TO_ZONE  191  192  193  194  195  196  197  198
0        589  589  589  589  589  589  589  589
1        589  589  589  589  589  589  589  589
2        589  589  589  589  589  589  589  540
3        589  589  589  589  589  589  589  510
4        589  589  589  589  589  589  589  470
5        589  589  589  589  589  589  589  415
6        589  589  589  589  589  589  589  385
7        589  589  589  589  589  589  589  345
8        589  589  589  589  589  589  589  320
9        589  589  589  589  589  589  589  290

[10 rows x 99 columns]

In [30]:
fare_metro_matrix.reset_index().to_csv(r"D:\Projects\2016\NVTA\Working\Metro_Fare.csv", sep=',',header=False,index=False,index_label=False)

In [32]:
## OFF PEAK
fare_metrorail_off_peak = fare[(fare['FROM_MODE'] == 'RAPIDRAIL') & (fare['TO_MODE'] == 'RAPIDRAIL') & (fare['CLASS'] == 'CASH') & (fare['PERIOD'] != '6:00..9:00, 15:00..19:00')]
fare_metro_off_peak = fare_metrorail_off_peak[['FROM_ZONE','TO_ZONE','FARE']]
fare_metro_off_peak.head()

      FROM_ZONE TO_ZONE  FARE
10927       101     101     0
10928       101     102   185
10929       101     103   225
10930       101     104   250
10931       101     105   280

In [33]:
fare_metro_off_peak = fare_metro_off_peak.set_index(['FROM_ZONE', 'TO_ZONE'])
fare_metro_matrix_off_peak = fare_metro_off_peak.unstack(level=1)
fare_metro_matrix_off_peak.head(10)

          FARE                                              ...             \
TO_ZONE    101  102  103  104  105  106  107  108  109  110 ...   189  190
FROM_ZONE                                                   ...
101          0  185  225  250  280  325  345  364  364  364 ...   364  364
102        185    0  185  190  220  270  290  325  345  364 ...   364  364
103        225  185    0  185  185  220  245  285  300  320 ...   364  364
104        250  190  185    0  185  195  220  260  280  295 ...   364  364
105        280  220  185  185    0  185  190  230  250  270 ...   364  364
106        325  270  220  195  185    0  185  185  200  220 ...   364  364
107        345  290  245  220  190  185    0  185  185  195 ...   364  364
108        364  325  285  260  230  185  185    0  185  185 ...   364  364
109        364  345  300  280  250  200  185  185    0  185 ...   364  364
110        364  364  320  295  270  220  195  185  185    0 ...   364  364


TO_ZONE    191  192  193  194  195  196  197  198
FROM_ZONE
101        364  364  364  364  364  364  364  364
102        364  364  364  364  364  364  364  364
103        364  364  364  364  364  364  364  364
104        364  364  364  364  364  364  364  364
105        364  364  364  364  364  364  364  364
106        364  364  364  364  364  364  364  325
107        364  364  364  364  364  364  364  305
108        364  364  364  364  364  364  364  275
109        364  364  364  364  364  364  364  255
110        364  364  364  364  364  364  364  230

[10 rows x 98 columns]

In [35]:
fare_metro_matrix_off_peak.reset_index().to_csv(r"D:\Projects\2016\NVTA\Working\Metro_Fare_off_peak.csv", sep=',',header=True,index=False,index_label=False)

## Read in the revised matrices

In [92]:
fare = pd.read_excel(r'I:\NVTA\Inputs\Metro_fares_final.xlsx',sheetname='Off_Peak_Special',skiprows=1,index_col=0)
fare.head(10)

,101,102,103,104,105,106,107,108,109,110,...,205,206,207,208,209,210,211,212,213,214
101,0,111,151,176,206,251,271,290,290,290,...,290,290,290,290,290,290,290,290,290,290
102,111,0,111,116,146,196,216,251,271,290,...,290,290,290,290,290,290,290,290,290,290
103,151,111,0,111,111,146,171,211,226,246,...,290,290,290,290,290,290,290,290,290,290
104,176,116,111,0,111,121,146,186,206,221,...,290,290,290,290,290,290,290,290,290,290
105,206,146,111,111,0,111,116,156,176,196,...,290,290,290,290,290,290,290,290,290,290
106,251,196,146,121,111,0,111,111,126,146,...,290,290,290,290,290,290,290,290,290,290
107,271,216,171,146,116,111,0,111,111,121,...,290,290,290,290,290,290,290,290,290,290
108,290,251,211,186,156,111,111,0,111,111,...,290,290,290,290,290,290,290,290,290,290
109,290,271,226,206,176,126,111,111,0,111,...,290,290,290,290,290,290,290,290,290,290
110,290,290,246,221,196,146,121,111,111,0,...,290,290,290,290,290,290,290,290,290,290

In [93]:
fare_records = fare.stack(level=0).reset_index()

In [94]:
fare_records.columns = ['FROM_ZONE','TO_ZONE','FARE']

In [95]:
fare_records.head(10)

   FROM_ZONE  TO_ZONE  FARE
0        101      101     0
1        101      102   111
2        101      103   151
3        101      104   176
4        101      105   206
5        101      106   251
6        101      107   271
7        101      108   290
8        101      109   290
9        101      110   290

In [96]:
fare_records['FROM_MODE'] = 'RAPIDRAIL'
fare_records['TO_MODE'] = 'RAPIDRAIL'
#fare_records['PERIOD'] = '5:00..9:30, 15:00..19:00'
fare_records['PERIOD'] = '0:00..5:00, 9:30..15:00, 19:00..24:00'
#fare_records['CLASS'] = 'CASH'
#fare_records['CLASS'] = 'CARD'
fare_records['CLASS'] = 'SPECIAL'
fare_records['NOTES'] = ''
fare_records.head(10)

,FROM_ZONE,TO_ZONE,FARE,FROM_MODE,TO_MODE,PERIOD,CLASS,NOTES
0,101,101,0,RAPIDRAIL,RAPIDRAIL,"0:00..5:00, 9:30..15:00, 19:00..24:00",SPECIAL,
1,101,102,111,RAPIDRAIL,RAPIDRAIL,"0:00..5:00, 9:30..15:00, 19:00..24:00",SPECIAL,
2,101,103,151,RAPIDRAIL,RAPIDRAIL,"0:00..5:00, 9:30..15:00, 19:00..24:00",SPECIAL,
3,101,104,176,RAPIDRAIL,RAPIDRAIL,"0:00..5:00, 9:30..15:00, 19:00..24:00",SPECIAL,
4,101,105,206,RAPIDRAIL,RAPIDRAIL,"0:00..5:00, 9:30..15:00, 19:00..24:00",SPECIAL,
5,101,106,251,RAPIDRAIL,RAPIDRAIL,"0:00..5:00, 9:30..15:00, 19:00..24:00",SPECIAL,
6,101,107,271,RAPIDRAIL,RAPIDRAIL,"0:00..5:00, 9:30..15:00, 19:00..24:00",SPECIAL,
7,101,108,290,RAPIDRAIL,RAPIDRAIL,"0:00..5:00, 9:30..15:00, 19:00..24:00",SPECIAL,
8,101,109,290,RAPIDRAIL,RAPIDRAIL,"0:00..5:00, 9:30..15:00, 19:00..24:00",SPECIAL,
9,101,110,290,RAPIDRAIL,RAPIDRAIL,"0:00..5:00, 9:30..15:00, 19:00..24:00",SPECIAL,

In [97]:
fare_records.to_csv(r"D:\Projects\2016\NVTA\Working\Metro_Fare_off_peak_special.csv", sep=',',\
                              columns = ['FROM_ZONE', 'TO_ZONE', 'FROM_MODE', 'TO_MODE','PERIOD','CLASS','FARE','NOTES'],\
                              header=True,index=False)